<div class="container mt-5">
    <h2>Update Category</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="arName">arabic Name</label>
        <input type="text" id="arName"class="form-control"
        formControlName="arName">
        <div *ngIf="categoryForm.get('arName')?.invalid && categoryForm.get('arName')?.touched" class="text-danger">Product name is required.</div>
      </div>
  
      <div class="form-group">
        <label for="enName">english Name</label>
        <input type="text" id="enName"class="form-control"
        formControlName="enName">
        <div *ngIf="categoryForm.get('enName')?.invalid && categoryForm.get('enName')?.touched" class="text-danger">Product name is required.</div>
      </div>
        <!-- Display the image -->
    <div class="form-group">
        <img [src]="image"  *ngIf="image" class="img-fluid" width="100" height="100"/>
      </div>
      <button type="submit" class="btn btn-danger">Save Changes</button>
    </form>
  </div>