<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
          <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">login</h1>
  <!-- <button @click="changeLanguage('ar')">lang</button> -->
  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
     Email
    </label>
              <input
                  type="text"
                  class="block border border-grey-light w-full p-3 rounded mb-4"
                  formControlName="email" type="email"
                  />
                  <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">
                    <p *ngIf="loginForm.get('email')!.errors?.['required']" class="text-red-600">Email is required.</p>
                    <p *ngIf="loginForm.get('email')!.errors?.['email']" class="text-red-600">
                      Enter a valid email.</p>
                  </div>
  
                  <!-- <p class="text-blue-600" v-if="v$.email.$error">{{ v$.email.$errors['email'].$message }}</p> -->
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                     password
                  </label>
              <input
                  type="password"
                  class="block border border-grey-light w-full p-3 rounded mb-4"
                  formControlName="password" type="password"
                  />
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <p *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-600">Password is required.</p>
                  </div>
              <button  [disabled]="loginForm!.invalid"  type="submit" class="py-2 px-5 bg-violet-500 text-white font-semibold rounded-md shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75 cursor-pointer">
                  login
  </button>
  <div class="text-grey-dark mt-6">
                       'havenoaccount'
                      <a routerLink="/register" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                          Register
                      </a>.
                  </div>
  
          </div>
          </div>
    </div>
  </form>




  <section class="vh-100" style="background-color: #fff4ea">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/sale-info/cover_login1.PNG" style="object-fit: fill;" width="100%"/>

              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0 text-danger">HALALAH</span>
                    </div>
    
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" 
                      placeholder="Email Address"
                      formControlName="email" type="email"/>
                    </div>
                    <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">
                      <p *ngIf="loginForm.get('email')!.errors?.['required']" class="text-red-600">Email is required.</p>
                      <p *ngIf="loginForm.get('email')!.errors?.['email']" class="text-red-600">
                        Enter a valid email.</p>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" 
                      placeholder="Password"
                      formControlName="password" type="password"/>
                      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        <p *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-600">Password is required.</p>
                      </div>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button [disabled]="loginForm!.invalid" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-lg btn-block" type="submit">Login</button>
                    </div>
                    <p class="text-danger"></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>