<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create Coupon</h4>
      <p class="card-description"> New Coupon </p>
  <form (ngSubmit)="onSubmit()" #couponForm="ngForm">
      <div class="row">
        <div class="col-md-6">
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" id="code" name="code" class="form-control" [(ngModel)]="coupon.code" #name="ngModel">
      </div>
    </div>
    <div class="col-md-6">

      <div class="form-group">
        <label for="discount">Discount</label>
        <input type="number" id="discount" name="discount" class="form-control" [(ngModel)]="coupon.discount" #name="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="link">Link</label>
        <input type="text" id="link" name="link" class="form-control" [(ngModel)]="coupon.link" #name="ngModel">
      </div>
    </div>
    <div class="col-md-6">

      <div class="form-group">
        <label for="expiry_date">Expiry Date</label>
        <input type="date" id="expiry_date" name="expiry_date" class="form-control" [(ngModel)]="coupon.expiry_date" #name="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="storeId">Stores</label>
        <select  id="storeId" name="storeId" class="form-control" [(ngModel)]="coupon.storeId" #name="ngModel">
          <option *ngFor="let store of stores" [value]="store.id">{{ store.enName }}</option>

        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="categoryId">Categries</label>
        <select  id="categoryId" name="categoryId" class="form-control" [(ngModel)]="coupon.categoryId" #name="ngModel">
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.enName }}</option>

        </select>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="isActive" >Is Active</label>
        <input type="checkbox"  id="isActive" name="isActive" [(ngModel)]="coupon.isActive" #name="ngModel">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-gradient-danger me-2" [disabled]="couponForm.invalid">Save</button>
  <button class="btn btn-light">Cancel</button>  </form>
</div>
</div>
</div> 
