<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Coupon</h4>
        <p class="card-description"> New Coupon </p>
    <form>
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" id="code" name="code" class="form-control">
      </div>
      <div class="form-group">
        <label for="discount">Discount</label>
        <input type="text" id="discount" name="discount" class="form-control">
      </div>
