<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Send Notification</h4>
        <p class="card-description"> Push New Notification </p>
    <form (ngSubmit)="onSubmit()" #notificatinForm="ngForm">
        <div class="row">
          <div class="col-md-6">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" [(ngModel)]="notification.title" #name="ngModel">
        </div>
      </div>
      <div class="col-md-6">
  
        <div class="form-group">
          <label for="content">Message</label>
          <input type="text" id="content" name="content" class="form-control" [(ngModel)]="notification.content" #name="ngModel">
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="notification.subject" #name="ngModel">
        </div>
      </div>

    </div> -->

    <button type="submit" class="btn btn-gradient-danger me-2" [disabled]="notificatinForm.invalid">Push</button>
    <button class="btn btn-light">Cancel</button>  </form>
  </div>
  </div>
  </div> 
  